@tailwind base;
@tailwind components;
@tailwind utilities;

/* li and ul apply to all in NavBar*/
li { 
    display: inline; 
    margin-right: 50px;
    font-size: 30px;
    padding: 10px 10px;
    
}
  
ul {
   background-color: #4A99E1;
   padding: 0px;
   margin: 0px;
   width: 1850px;
   border-radius: 10px;
   -moz-border-radius: 10px;
   -webkit-border-radius: 50px;

}

.button {
  border: none;
  color: rgb(0, 0, 0);
  padding: 10px 20px;
  margin: 0px 0px;
  cursor: pointer;
  

}